@model TSM.Models.MedlemDetail

@{
    ViewData["Title"] = "Register";
}
    <h2>Register your user below</h2>
<div class="allt"

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First name</label>
                <input asp-for="Me_Fornamn" class="form-control" />
                <span asp-validation-for="Me_Fornamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input asp-for="Me_Efternamn" class="form-control" />
                <span asp-validation-for="Me_Efternamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Me_Password" class="control-label">Password</label>
                <input asp-for="Me_Password" class="form-control" />
                <span asp-validation-for="Me_Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-area="" asp-controller="Auth" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>

<style>

.allt{
    position: absolute;
    background-color:none;
    width:100%;
    text-align:center;
    top:10%;
    border: solid;

}

</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
