
@model IndexModel
@{
    ViewData["Title"] = "TSM";
    /*if (User.Identity.IsAuthenticated)
    {
        return RedirectToAction("View1", "Auth");
    }*/
}
<div class="cont">
<div class="border-bottom">
    <nav class="navbar navbar-expand-md navbar-light ">
        @*<img src="~/Images/mirror-ball.png" width="30" height="30" class="d-inline-block alignt-top" loading="lazy" />*@
        <h2 class="px-2">@ViewData["Title"]</h2>
        <div class="navbar-nav ml-auto">
            <a asp-area="" asp-controller="Home" asp-action="Settings">
                <button type="button" class="btn btn-light btn-sm">
                    <img src="~/Images/settings_black_24dp.svg" width="30" height="30" class="d-inline-block" loading="lazy" />
                </button>
            </a>
        </div>
    </nav>
</div>

@*<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="Login" asp-controller="Auth" class="btn btn-outline-primary">Log In with GitHub</a>
    }
    else
    {

<div class="card">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-starred">
                Activities
            </button>
        </h5>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-starred">
                Messages
            </button>
        </h5>
    </div>
</div>
    }
</div>*@


    <div class="childcont">
        <h2 style="position: relative;left:2em;top:1em;font-weight:bold">Welcome to <span style="color:#AA2DD6">Title</span>!</h2>
        <div class="logwrap">
        
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <div class="lwrap">
                <button type="submit" class="submitbtn">Login</button>
                <a style ="color:#497CFF"; href="https://www.google.se/">Forgot password?</a>
            </div>
            <div class="oauthwrap"><a asp-action="Login" asp-controller="Auth"> Login in with github / other</a></div>
        </div>
        <div class="regwrap">
            <p>Don't have an account yet?</p>
            <button type="submit" class="submitbtn2" style="type-weight:bold; color:#EAEAEA;">Create an account</button>
        </div>
    </div>
    <div class="childcont2"><h1>Title</h1><p>Lorem ipsum dolor sit<br> amet, consectetur <br>adipiscing elit.</p></div>
</div>