
@{
    ViewData["Title"] = "Messages";
    Messenger m = new Messenger
    {
        Id = 1,
        Name = "David",
        LastMessage = "Hello Ruth!",
    };
    List<Messenger> mList = new List<Messenger>();
    for (int i = 0; i < 4; i++)
    {
        mList.Add(m);
    }
}

<div class="border-bottom">
    <nav class="navbar navbar-expand-md navbar-light ">
        <a href="javascript:void(0);" onclick="history.go(-1);">
            <img src="~/Images/arrow_back_ios_new_black_24dp.svg" width="30" height="30" class="d-inline-block align-top" loading="lazy" />
        </a>
        <h2 class="px-2">@ViewData["Title"]</h2>
        <div class="navbar-nav ml-auto">
            <a asp-area="" asp-controller="Home" asp-action="Settings">
                <button type="button" class="btn btn-light btn-sm">
                    <img src="~/Images/settings_black_24dp.svg" width="30" height="30" class="d-inline-block" loading="lazy" />
                </button>
            </a>
        </div>
    </nav>
</div>

<div class="jumbotron jumbotron-fluid bg-white">
    <!--<h5>Workout</h5>-->
    @foreach (var item in mList)
    {
        <!--<a type="button" class="btn-block" asp-action="TrainingView" asp-route-id="@item.Id">-->
        <a type="button" class="btn-block" asp-action="Chat" style="text-decoration:none; color:inherit;">
            <div class="media m-3 shadow border rounded" style="height: 100px;">
                <img src="~/Images/oldman.jpg" class="mr-3 rounded-left" width="100" height="100" />
                <div class="media-body" style="text-decoration:none;">
                    <h5 class="mt-1">@item.Name</h5>
                    @if (true)
                    {
                        <p>@item.LastMessage</p>
                    }
                </div>
            </div>
        </a>
    }

</div>
<style>
    a.nav-link:link:visited:hover:active {
        color: #fb3f00;
        text-decoration: none;
    }

    .wrapper {
        position: absolute;
        background-color: none;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 0%;
    }

    .button {
        
        transition: transform .3s;
        perspective: 1000px;
    }

    .button {
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.1);
    }

</style>