@model IndexModel
@{
    ViewData["Title"] = "TSM";
}

<div class="test" style="color:red">ppp</div>
<button type="submit" class="gamebtn">Games</button>
<button type="submit" class="chatbtn">Chat</button>